.app {

  .sections {
    width: 100%;
    min-height: calc(100vh - 50px);
    top: 50px;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    overflow: scroll; 
    
    > * {
      width: 100vw;
      min-height: calc(100vh - 50px);
      scroll-snap-align: start;
    }
  }
}
