.card {
  width: 1000px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
    border: 1px solid red;
  }
}

.information {
  display: flex;
  width: 100%;
  flex: 1 1 40%;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  p {
    margin: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  @media (max-width: 768px) {
    flex: 1 1 100%;
    padding: 10px 10px;
    text-align: left;
    align-items: flex-start;
  }
  .tech {
    list-style-type: none;
    color: rgb(136, 146, 176);
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: 10px 0px 0px;
    flex-wrap: wrap;
    li {
      margin-left: 10px;
    }
    a {
      &:hover {
        transform: scale(1.1);
        transform-origin: bottom;
      }
    }
  }
  .links {
    margin-left: 10px;
    text-decoration: underline;
    text-decoration-color: #ff4d5a;
    display: flex;
    @media (max-width: 768px) {
      position: absolute;
      top: 3px;
      right: 20px;
    }
    a {
      margin-left: 10px;
      margin-top: 10px;
      &:hover {
        transform: scale(1.1);
        transform-origin: bottom;
      }
    }
  }
  .spans {
    // border: 1px solid red;
    background-color: rgb(17, 34, 64);
    color: rgb(168, 178, 209);
    border-radius: 5px;
    width: 120%;
    position: relative;
    padding: 20px;
    @media (max-width: 768px) {
      background-color: rgb(10, 25, 47);
      padding: 0px;
      width: 100%;
    }
  }
}
.graphics {
  display: flex;
  height: 100%;
  flex: 1 1 60%;
  overflow: hidden;
  &:hover {
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
  }
  @media (max-width: 768px) {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 3px 0px 0px 3px;
    object-fit: cover;
    object-position: 0% 0%;
  }
}
.intersecting {
  transform: translate(0px);
  opacity: 1;
  transition: 1.5s linear;
}
.top {
  transform: translate(-500px);
  transition: 1s linear;
}
.bottom {
  transform: translate(500px);
  transition: 1s linear;
}
